################################################
### .NET / ASP.NET Core

# Build outputs
**/bin/
**/obj/

# Visual Studio
**/.vs/
*.user
*.suo
*.csproj.user

# Test / Coverage
**/TestResults/
**/coverage/
**/coverageReports/

# Logs
*.log

# Local configs / secrets
**/appsettings.Development.json
**/appsettings.Local.json
**/Properties/launchSettings.json

# Local databases
*.db
*.db-shm
*.db-wal

# NuGet artifacts (optional but common)
*.nupkg
*.snupkg

################################################
### Node / React / Vite

# Dependencies
**/node_modules/

# Build / cache
**/dist/
**/.vite/
**/.eslintcache

# Node logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

################################################
### Env & Secrets (global)

**/.env
**/.env.*

################################################
### IDE / Editor

# VS Code
.vscode/
!.vscode/extensions.json

# Visual Studio extra
*.userosscache
*.sln.docstates


# JetBrains / Rider
.idea/
*.iml
*.DotSettings.user

################################################
### OS

Thumbs.db
Desktop.ini
.DS_Store

################################################
### Varie / Backup

*.backup
**/BackupSQL/
*.swp

### Publish / artifacts
**/publish/
**/artifacts/


################################################
struttura.txt
